*{
	margin: 0;
	padding: 0;
}

.carousel-inner img{
	opacity: 0.75;
}

.main-text{
	position: absolute;
    top: 20vh;
    width: 96.66666666666666%;
}
.explore{
	font-family: 'Titillium Web', sans-serif;
	color: white;
	font-size: 15vh;
	text-shadow: 2px 2px 4px black;
}
.mountains{
	font-family: 'Permanent Marker', cursive;
	font-size: 25vh;
	color: #008000;
	padding: 0;
	text-shadow: 2px 2px 4px white;
}
.difference{
	font-family: 'Titillium Web', sans-serif;
	font-size: 4vh;
	color: white;

}
.take{
	color: black;
}

.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

#body-home{
	margin-top: 50px;
	font-family: 'Titillium Web', sans-serif;
}
hr{
 	width: 8%;
   height: 10px;
   border: 0 none;
   margin-right: auto;
   margin-left: auto;
   background-color:green;
}

/*cardImage*/
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}



.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h4{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: .8em
}

.content-details h5{
  color: #fff;
  font-size: 1em;
}

.fadeIn-bottom{
  top: 80%;
}

/*end cardImage*/
/*benefit body*/
.benefit-body{
	background: black;
  height: 80vh;
	
}
.circle-icon {
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 40px;
}

#benefit-home{
	color: white;
}
.benefit-body{
	/*margin-top: 8rem;*/
}
#benefit-text{
  color: green;
}
/*end benefit*/

/*parallax start*/
.parallax-body{
  background-image: url('./../images/hiking.jpg');
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax-content{
  background:black;
  opacity: 50%;
  height: 35vh;
  width: 80vh;
  margin-top: 10%;
  margin-right:auto;
  margin-left:auto;

}
.parallax-content i{
  color: white;
}
.parallax-text{
  color: white;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align:justify;
  font-family: 'Permanent Marker', cursive;

}
.fas-right{
  margin-left: 94%;
}

.parallax-text-right{
  margin-right: 10px;
  color: white;
}
/*.cart home*/



@media only screen and (max-width: 400px){
	/*homepage*/
	.main-text{
		top: 8vh;
	}
	.explore{
		font-size: 2vh;
	}
	.mountains{
		font-size: 3vh;
	}
	.difference{
		font-size: .9vh;
	}
	.take{
		font-size: 1vh;
	}
	.home-button{
		font-size: 1vh;
	}
  /*parallax*/
  .parallax-content{
    background:black;
    opacity: 50%;
    height: 30vh;
    width:30vh;
    margin-top: 30%;
    margin-right:auto;
    margin-left:auto;

  }

  .parallax-text{
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;

  }
  .parallax-text-right{
    margin-right: 5px;
    font-size: 20px;
  }
  .parallax-content i{
    font-size: 20px;
  }
  .fas-right{
  margin-left: 85%;
  }

  /*end of parallax*/
  /*benefit*/
  .benefit-body{
  height: 175vh;
 
  }
/*end benefit */
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	.main-text{
		top: 10vh;
	}
	.explore{
		font-size: 8vh;
	}
	.mountains{
		font-size: 10vh;
	}
	.difference{
		font-size: 3vh;
	}
	.take{
		font-size: 1vh;
	}
	.home-button{
		font-size: 1vh;
	}
  /*parallax*/
  .parallax-content{
    background:black;
    opacity: 50%;
    height: 25vh;
    width: 30vh;
    /*margin-top: 10%;*/
    margin-right:auto;
    margin-left:auto;

  }
  .parallax-text{
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;

  }
  .parallax-text-right{
    margin-right: 5px;
    font-size: 30px;
  }
  .parallax-content i{
    font-size: 20px;
  }
  .fas-right{
  margin-left: 85%;
  }

  /*end of parallax*/
  /*benefit*/
  .benefit-body{
  height: 75vh;
 
  }
}

@media only screen and (min-width: 961px){
	/*homepage*/
	.carousel-inner img{
	height: 100vh;
	width:auto;
}
}